/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body,html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
  overflow: auto;
}

.text-primary {
  color: #f09841;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  background: #333;
  color: #fff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f09841;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f09841;
  color: #333;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

.clr {
  clear:both;

}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}
/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  display: inline-block;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f09841;
}

/* Showcase */
#showcase {
  background: url('../img/img2.jpg') no-repeat 
  center center/cover;
  height: 700px;
}
#showcase .showcase-content {
   text-align: center;
   color: #fff;
   padding-top: 170px;
  }
#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home Info */
#home-info {
  height: 450px;
  text-align: left;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/img7.jpg') no-repeat;
  min-height: 100%;
}

#home-info .info-content{
  align-content: center;

}
#home-info .info-content {
  width: 50%;
  height:100%;
  text-align: center;
  padding: 50px 30px 50px 25px;
  align-content: center;
  overflow: hidden;
} */

 #home-info .info-content {
  float: left;
  padding-top: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: large;
} 
  #home-info .bg-dark{
  padding-left: 50px;
  text-align: center;
}

/* Features */
.box {
  float: left;
  width:33.3%;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}

/* About-info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* Testimonials */
#testimonials {
  height: 100%;
  background: url('../img/img3.jpeg') 
  no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */
#contact form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}


#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f09841;
}

.hero-text{
  padding-top: 50px;
  text-align: center;
  font-size: large;
}
.hero-text h1{
  color: black;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
  
}
.column p{
  text-align: justify;
  color: black;
}
.column p button{
  text-align: center;
  background-color: orange;
  color: white;
  font-size: larger;
}
.column p a button{
  text-align: center;
}
.column h1{
  text-align: center;
  font-size: larger;
  font-style: bold;
  background-color: #f09841;
}
.column h2{
  color: white;
}
.row div{
  padding: 20px;
  margin: auto;
}

.row {
  margin: auto;
  display: flex;
  padding: 10px;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

/* Clear floats after image containers */
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left:50%
} 
.text-box{
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h3{
  font-size: x-large;

}
.hero-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 22px 64px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-button:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition:1s ;
  list-style: none;
  text-decoration: none;
}
.hero-button h4{
  font-size: x-large;
  text-decoration: none;
}
.maps{
  width: 100%;
  height: 1000px;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: gray;
}
a{
  text-decoration: none;
  color: #dbdbdb;
}
img{
  max-width:90%;
}

/* search */
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


.card{
  align-content: center;
}