{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Get Yourself a preferable stay at your favourite destination">
  <meta name="keywords" name="Travel with Us">
  <script src="https://kit.fontawesome.com/e7783e5772.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{ % static 'css/mobile.css' %}">  
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{% static 'img'%}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <title>GetHotel | Change Password</title>
</head>
<body>
  <header>
    <nav id="navbar">
      <div class="container">
      <h1 class="logo"><span class="iconify" data-icon="fontisto:holiday-village"></span><a href="{% url 'index' %}"><span class="text-primary">Get</span>Hotel</a></h1>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{%url 'about'%}">About</a></li>
      <li><a href="{%url 'contact'%}">Contact</a></li>
      {% if request.user.is_authenticated %}
      Hello {{ request.user.username }},
      <li> <a href="{% url "logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "login" %}">Log-in</a></li>
      {% endif %}
      <li><a href="{%url 'profile'%}">Profile</a></li>
    </ul>
  </div>
  </nav>
  
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
      <h1 class="h3 mb-0 text-gray-800"><span class="text-primary">Change</span> Your<span class="text-primary"> Password</span></h1>
      </div>
    <form action="" method="POST" novalidate >
        {%csrf_token%}
        {%if form.non_field_errors%}
          {%for error in form.non_field_errors%}
            <p>{{error}}</p>
          {% endfor %}
        {% endif %}

        {%for fm in form%}
          {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
          <input class = "btn" type="submit" value="Save">
    </form>
</div>
</body>
<footer id="main-footer">
	GetHotel &copy; 2022, All Rights Reserved 
  </footer>
  </html>