{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Get Yourself a preferable stay at your favourite destination">
  <meta name="keywords" name="Travel with Us">
  <script src="https://kit.fontawesome.com/e7783e5772.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% comment %} <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}"> {% endcomment %}
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{ % static 'css/mobile.css' %}">  
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{% static 'img'%}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <title>GetHotel | Welcome</title>
</head>
<body>
  <header>
    <nav id="navbar">
      <div class="container">
      <h1 class="logo"><span class="iconify" data-icon="fontisto:holiday-village"></span><a href="{% url 'index' %}"><span class="text-primary">Get</span>Hotel</a></h1>
    <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{%url 'about'%}">About</a></li>
    <li><a href="{%url 'contact'%}">Contact</a></li>
    <li><a href="{%url 'change_pass'%}">Change Password</a></li>

    {% if request.user.is_authenticated %}
    Hello {{ request.user.username }},
    <li><a href="{% url "logout" %}">Logout</a></li>
    {% else %}
    <li><a href="{% url "login" %}">Log-in</a></li>
    {% endif %}
    
  </ul>
</div>
</nav>
  
  {% block content %}
      <!-- Begin Page Content -->
      <div class="container-fluid">
  
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
          <h1 class="h3 mb-0 text-gray-800 bg-dark"><span class="text-primary">Your</span>Profile</h1>
          </div>          
  
          <!-- Main Content Here -->
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3 my-5">
              <img src="{{user.profile.image.url}}" class="rounded float-right" height="300px" width="300px">
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
              <div class="card-body bg-gray">
                  <h2><span class="text-primary">{{user.first_name}}</span> {{user.last_name}}</h2>
                  <p><strong><span class="text-primary">Username: </span></strong> {{user.username}} </p>
                  <p><strong><span class="text-primary">Email: </span></strong> {{user.email}} </p>
                  <p><strong><span class="text-primary">Bio: </span></strong> {{user.profile.bio}} </p>
                  <p><strong><span class="text-primary">Phone Number: </span></strong> {{user.profile.phone_number}} </p>
                  <p><strong><span class="text-primary">DOB: </span></strong> {{user.profile.birth_date}} </p>
                  <a href="{% url 'profile-update' %}" class="btn btn-sm btn-warning shadow-sm">Update Profile</a>
              </div>
            </div>
          </div>
          <h1><a class="btn btn-sm btn-warning shadow-sm" href="{% url 'BookingListView' %}">Check Your Bookings Details</a></h1>
          
          
          
      </div>
      <!-- /.container-fluid -->
  {% endblock content %}
<footer id="main-footer">
    </span>GetHotel &copy; 2022, All Rights Reserved 
  </footer>