{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Get Yourself a preferable stay at your favourite destination">
  <meta name="keywords" name="Travel with Us">
  <script src="https://kit.fontawesome.com/e7783e5772.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{ % static 'css/mobile.css' %}">   
  <link rel="stylesheet" media="screen and (max-width: 769px)" href="{% static 'img' %}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <title>GetHotel | Hotels</title>  
</head>
<body>
  <header>
    <nav id="navbar">
      <div class="container">
      <h1 class="logo"><span class="iconify" data-icon="fontisto:holiday-village"></span><a href="{% url 'index' %}"><span class="text-primary">Get</span>Hotel</a></h1>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{%url 'about'%}">About</a></li>
      <li><a href="{%url 'contact'%}">Contact</a></li>
      {% if request.user.is_authenticated %}
      Hello {{ request.user.username }},
      <li><a href="{% url "logout" %}">Logout</a></li>
      {% else %}
      <li><a href="{% url "login" %}">Log-in</a></li>
      {% endif %}
      <li><a href="{%url 'profile'%}">Profile</a></li>
    </ul>
  </div>
  </nav>
</header>
<div class="hero-text">
    <h1><span class="text-primary">RO</span>OM<br><h2>Provding you the best<span class="text-primary"> stay is what we belive</span></h2></br></h1>

 <!-- Main Content -->
 {% for room_category, room_url in room_list %}
 <div class="row">
    <div class="column">
        <a href="{{room_url}}">
             <img src="{% static 'img/deluxe.jpg' %}">             
                <h1>{{room_category}} ROOM</h1>
                <a class="btn" href="{{room_url}}">Book Now</a>
             <h3><span class="text-primary">Have a better stay </span>with your choice of room.<h3>
        </a>
     </div>
 </div>

 {% endfor %}

</body>
<footer id="main-footer">
  GetHotel &copy; 2022, All Rights Reserved 
</footer>

</html>